<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DSR.Properties.Settings.bd_daily_securityConnectionString" connectionString="Data Source=LENSX;Initial Catalog=bd_daily_security;User ID=LensX" providerName="System.Data.SqlClient"/>
        <add name="LENSX_bd_daily_security_Connection" connectionString="XpoProvider=MSSqlServer;data source=LENSX;user id=sa;password=Windy@2015.com?;initial catalog=bd_daily_security;Persist Security Info=true"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
